
<div class="section">
    <h2>All Pokemons</h2>
    <div class="grid-wrapper">

    
        <div class="card">
            <div class="card-wrapper">
                <div class="image">
                    <img src="../../../assets/pikachu.png" alt="Pokemon">
                </div>
                <div class="info">
                    <h3>bulbasaur</h3>
                    <p>grass</p>
                    <p>poison</p>
        
                </div>
               
            </div>
            <button class="button">See Details</button>
        </div>
        
        <div class="card">
            <div class="card-wrapper">
                <div class="image">
                    <img src="../../../assets/pikachu.png" alt="Pokemon">
                </div>
                <div class="info">
                    <h3>bulbasaur</h3>
                    <p>grass</p>
                    <p>poison</p>
        
                </div>
               
            </div>
            <button class="button">See Details</button>
        </div>
        
        <div class="card">
            <div class="card-wrapper">
                <div class="image">
                    <img src="../../../assets/pikachu.png" alt="Pokemon">
                </div>
                <div class="info">
                    <h3>bulbasaur</h3>
                    <p>grass</p>
                    <p>poison</p>
        
                </div>
               
            </div>
            <button class="button">See Details</button>
        </div>
        
        <div class="card">
            <div class="card-wrapper">
                <div class="image">
                    <img src="../../../assets/pikachu.png" alt="Pokemon">
                </div>
                <div class="info">
                    <h3>bulbasaur</h3>
                    <p>grass</p>
                    <p>poison</p>
        
                </div>
               
            </div>
            <button class="button">See Details</button>
        </div>
        
        <div class="card">
            <div class="card-wrapper">
                <div class="image">
                    <img src="../../../assets/pikachu.png" alt="Pokemon">
                </div>
                <div class="info">
                    <h3>bulbasaur</h3>
                    <p>grass</p>
                    <p>poison</p>
        
                </div>
               
            </div>
            <button class="button">See Details</button>
        </div>
        
        </div>

        <div class="button-wrapper">
            <button class="button" disabled>Previous Page</button>
            <button class="button">Next Page</button>
        </div>
</div>