<div class="section">
    <div class="details-section shadow">
        <div class="grid-wrapper">
            <div class="left-div">

                <h2>bulbasaur</h2>
                <div class="type-info">
                    <p>grass</p>
                    <p>poison</p>
                </div>
                <img src="../../../assets/pikachu.png" alt="Pokemon Image">
            </div>
            <div class="right-div">
                <h2>Pokemon-Details</h2>
           
            <p><strong>Experince</strong> 64</p>
            <p><strong>Height</strong> 7 decimeter</p>
            <p><strong>Weight</strong> 69 hectogram</p>
        </div>
        </div>
    </div>
    <div class="gallery-section">
        <h2>Photo Gallery</h2>
        <div class="grid-wrapper">
            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>

            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>

            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>

            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>

            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>

            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>

            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>

            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>
            <div class="card shadow">
                <img src="../../../assets/pikachu.png" alt="Image">
            </div>
        </div>
    </div>
</div>
