@import "../../../styles.scss";

.top-banner{
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $white;


    h1{
        font-size: 30px;
        letter-spacing: 4px;
        margin-top: 3px;

    }

    h3{
        font-size: 15px;
        letter-spacing: 3px;
        font-weight: 320;
        margin-bottom:24px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 12px;
        column-gap: 12px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            
        }

        input{
            height: 25px;
            width: 260px;
            padding: 4px 12px;
            border: none;
            border-radius: 4px;
        }
        .button{
            height: 25px;
            width: 95px;
            letter-spacing: 2px;
            background-color: $accent-1;
            color: $black;

            &:hover{
                background-color: $white;
            }
        }
    }



}
